<?xml version= "1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.wants.market.core.mapper.UserMapper">

    <update id="updateMannerTemp">
        update user
        set manner_temp = #{mannerTemp}
        where id = #{id};
    </update>


    <insert id = "insertUser" parameterType="com.wants.market.core.domain.User"
    useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO user (user_id, password,
                          name, nickname,
                          phone, email, address,
                          manner_temp, agree_terms,
                          marketing_terms, created_at, updated_at)
        VALUES(#{userId}, #{password},
               #{name}, #{nickname},
               #{phone}, #{email}, #{address},
               #{mannerTemp}, #{agreeTerms},
               #{marketingTerms}, #{createdAt}, #{updatedAt})
    </insert>

    <delete id = "deleteUser" parameterType="Long">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <update id = "updateUserProfile" parameterType="com.wants.market.core.domain.User">
            update user set password = #{password},
                            nickname = #{nickname},
                            phone = #{phone},
                            address = #{address},
                            updated_at = NOW()
            where id = #{id}
    </update>

    <select id = "isExistsUserId" resultType="boolean">
            select exists
    (select * from user where user_id = #{userId})
    </select>

    <select id = "findUser" parameterType="String">
            SELECT *
            from user
            where user_id = #{userId}
    </select>

    <select id = "findUserByLoginId" resultType="com.wants.market.core.domain.User">
            select *
            from user
            where user_id = #{loginId}
    </select>

    <select id = "findUserById" resultType="com.wants.market.core.domain.User">
            select *
            from user
            where id = #{id}
    </select>

</mapper>